@use './mixins' as *;
$gray-50: #f7fafc;
$gray-100: #edf2f7;
$gray-200: #e2e8f0;
$gray-300: #cbd5e0;
$gray-400: #a0aec0;
$gray-500: #718096;
$gray-600: #4a5568;
$gray-700: #2d3748;
$gray-800: #1a202c;
$gray-900: #171923;

body {
  background-color: rgb(10, 11, 13);
}
.nav-adjust {
  margin-top: 40px;
  @include for-large-screen() {
    margin-top: 60px;
  }
}
// utils
.heading {
  color: $gray-200;
  text-transform: uppercase;
  font-size: var(--fsz-3);
}
.close-icon {
  position: absolute;
  top: 2%;
  right: 2%;
  border: 0;
  padding: var(--p-1);
  background-color: #000;
  border-radius: 50%;
  .icon {
    color: $gray-400;
    font-size: var(--fsz-2);
  }
  @include for-large-screen() {
    top: 3%;
    padding: var(--p-2);
    right: 1%;
  }
}
.dropdown {
  position: absolute;
  right: 5%;
  top: 80%;
  z-index: var(--z-1);
  color: $gray-300;
  background-color: $gray-700;
  display: block;
  max-width: 250px;
  padding: var(--p-6) 0 var(--p-2);
  border-radius: var(--br-2);
  .close {
    background-color: transparent;
    border: 0;
    color: $gray-400;
    font-size: var(--fsz-1);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li:not(:nth-last-of-type(1)) {
    margin: 0 0 var(--p-2);
    border-bottom: 1px solid $gray-600;
  }
  li {
    padding: 0 0 var(--p-2) var(--p-4);
    display: flex;
    align-items: center;
  }
  input[type="checkbox"] {
    position: relative;
    vertical-align: sub;
    margin: 0 var(--p-2) 0 0;
    transition: all 0.5s ease-in-out;
  }
  label,
  input[type="checkbox"] {
    cursor: pointer;
  }
  .input-addon {
    display: flex;
    input[type="text"] {
      width: 100%;
      color: $gray-100;
      font-weight: 500;
      padding: var(--p-2);
      background-color: $gray-800;
      border: 0;
    }
    button {
      background-color: transparent;
      color: $gray-400;
      border: 0;
      &:hover,
      &:focus {
        color: $gray-100;
      }
    }
    .icon {
      font-size: var(--fsz-2);
    }
  }
  @include for-large-screen() {
    right: 15%;
  }
}
.video-card {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  background-color: $gray-800;
  margin: 0 0 var(--p-4);
  border-radius: var(--br-3);
  transition: all 0.5s ease;
  padding: 0;
  &-thumbnail {
    height: 180px;
    border-radius: var(--br-3) var(--br-3) 0 0;
  }
  figcaption {
    padding: var(--p-4);
  }
  &-title {
    color: $gray-400;
    margin: var(--p-2) 0;
    font-size: 1rem;
  }
  &-title,
  &-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .channel-name,
  &-stats,
  &-description {
    font-size: 0.8rem;
    color: $gray-500;
  }
  &-description {
    display: none;
  }
  .channel-name {
    font-weight: 550;
    .date {
      text-transform: capitalize;
      &::before {
        content: "";
        height: 5px;
        width: 5px;
        display: inline-block;
        margin: 0 var(--p-1) 0.1rem;
        background-color: $gray-400;
        border-radius: 50%;
      }
    }
  }
  &-stats {
    .icon {
      font-size: var(--fsz-1);
      margin: 0 var(--p-1) 0 0;
      vertical-align: middle;
    }
  }
  &:hover {
    background-color: $gray-900;
    .video-card-title {
      color: $gray-200;
    }
    .channel-name,
    .video-card-stats,
    .video-card-description {
      color: $gray-300;
    }
  }
  @include for-large-screen() {
    flex-direction: row;
    padding: var(--p-6);
    border-radius: var(--br-0);
    margin: 0;
    &-thumbnail {
      border-radius: var(--br-3);
    }
    &-description {
      font-size: 1rem;
      margin: 0 0 1rem;
      display: block;
    }
  }
}
@include for-large-screen() {
  .video-card:nth-of-type(1) {
    border-radius: var(--br-3) var(--br-3) 0 0;
  }
  .video-card:nth-last-of-type(1) {
    border-radius: 0 0 var(--br-3) var(--br-3);
  }
}
// section wise
header {
  position: fixed;
  z-index: var(--z-2);
  top: 0%;
  width: 100%;
  border-bottom: 1px solid $gray-800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: var(--p-2);
  background-color: rgb(10, 11, 13);
  .img-logo {
    height: 30px;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li {
    a {
      display: flex;
      align-items: center;
      color: $gray-50;
      text-transform: capitalize;
    }
    .icon {
      font-size: var(--fsz-2);
    }
    .text {
      font-weight: 550;
      display: none;
    }
    margin: 0;
  }
  .avatar-sm-i-basic {
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 var(--p-2) 0 0;
    &:hover {
      background-color: #fff;
      color: var(--icon-base-200);
    }
  }
  .active {
    .avatar-sm-i-basic {
      background-color: #fff;
      color: var(--icon-base-200);
    }
  }
  @include for-large-screen() {
    padding: var(--p-2) var(--p-5);
    .img-logo {
      height: 50px;
    }
    ul {
      margin: 0 var(--p-4) 0 0;
    }
    li {
      margin: 0 var(--p-4) 0 0;
    }
    li .text {
      display: block;
    }
  }
}
.hero {
  z-index: var(--z-0);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://img-assets.netlify.app/video-thumbnails/farmers.jpg);
  background-position: center;
  color: $gray-50;
  position: relative;
  padding: 60px 0 0;
  box-sizing: border-box;
  .overlay-2,
  .overlay {
    position: absolute;
  }
  .overlay-2 {
    top: 5%;
    left: -8%;
    width: 60vw;
    height: 100%;
    -moz-filter: blur(3rem);
    -o-filter: blur(3rem);
    -webkit-filter: blur(3rem);
    filter: blur(3rem);
    background-color: rgba(10, 11, 13, 1);
  }
  .overlay {
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: var(--z-0);
    background-color: rgba(10, 11, 13, 0.6);
  }
  .content {
    position: relative;
    z-index: var(--z-1);
    display: flex;
    text-align: left;
    align-content: center;
    justify-content: center;
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 0 2rem;
    h2,
    p {
      color: $gray-50;
    }
    h2 {
      font-size: var(--fsz-3);
    }
    p {
      color: $gray-500;
      font-weight: 500;
      font-size: var(--fsz-1);
      line-height: 28px;
    }
  }
  @include for-large-screen() {
    background-size: 100%;
    .content {
      width: 50vw;
      padding: 0 0 0 4rem;
      h2 {
        font-size: 5rem;
      }
    }
  }
}
.video-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--p-2);
  width: auto;
  .heading {
    position: relative;
    z-index: var(--z-1);
    margin: 1rem 0;
  }
  @include for-large-screen() {
    width: 80vw;
    margin: var(--p-2) auto;
  }
}
.video-player {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  iframe {
    border: 0;
    width: 100vw;
    height: 50vh;
  }
  &-description {
    color: $gray-50;
  }
  &-actions {
    position: relative;
    justify-content: space-evenly;
    display: flex;
    column-gap: var(--p-1);
    margin: var(--p-2) 0 0;
  }
  .icon-btn-base {
    .icon {
      font-size: var(--fsz-2);
      margin: 0;
    }
    .text {
      font-size: 1rem;
      font-weight: 600;
      text-transform: capitalize;
      display: none;
    }
  }
  .wrapper {
    margin: var(--p-4) var(--p-2) 0;
  }
  &-title {
    font-size: var(--fsz-1);
    margin: 0 0 var(--p-3);
  }
  &-desc {
    font-size: 0.9rem;
    color: $gray-400;
  }
  &-user {
    display: flex;
    align-items: center;
    margin: var(--p-4) var(--p-2) 0;
    .u-info {
      flex-basis: 1;
      margin: 0 var(--p-4) 0 0;
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 50px auto;
      img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        grid-row: 1/3;
        grid-column: 1/2;
      }
      .channel-name,
      .sub-count {
        line-height: 1;
        margin: 0 0 0 var(--p-1);
      }
      .sub-count {
        font-size: 0.8rem;
        color: $gray-500;
      }
    }
    .video-info {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      .icon {
        font-size: var(--fsz-2);
        vertical-align: middle;
      }
      .text {
        text-transform: capitalize;
      }
    }
  }
  @include for-large-screen() {
    width: 80vw;
    iframe {
      width: 100%;
      height: 70vh;
    }
    &-user {
      order: 1;
    }
    &-actions {
      justify-content: start;
      column-gap: var(--p-4);
      margin: var(--p-4) 0 0;
      order: 2;
    }
    &-description {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 0.6fr 1fr;
      align-items: center;
    }
    .wrapper {
      grid-column: 1/3;
      order: 3;
    }
    &-title {
      font-size: var(--fsz-2);
    }
    &-desc {
      font-size: var(--fsz-1);
    }
    .icon-btn-base {
      .text {
        display: block;
      }
    }
  }
}
.playlist {
  position: relative;
  margin: 60px var(--p-4) var(--p-4);
  h3 {
    text-transform: capitalize;
  }
  &-layout {
    display: flex;
    flex-direction: column;
  }
  &-card {
    cursor: pointer;
    margin: var(--p-2) 0;
    border-radius: var(--br-1);
    border: 1px solid $gray-700;
    background-color: $gray-700;
    width: 90vw;
    display: flex;
    flex-direction: column;
    .icon-2x {
      align-self: center;
      margin: var(--p-6) 0;
      font-size: 4rem;
    }
    figcaption {
      padding: var(--p-4) var(--p-2);
      color: $gray-400;
      background-color: #000;
      border-radius: 0 0 var(--br-1) var(--br-1);
      font-size: 0.9rem;
    }
    &:hover {
      transition: all 0.3s ease;
      box-shadow: 0px 4px 16px 10px rgb(0, 0, 0);
    }
  }
  &-heading {
    display: flex;
    justify-content: space-between;
    margin: 0 0 var(--p-2);
    color: $gray-200;
    text-transform: capitalize;
    font-size: 1rem;
    .icon {
      color: $gray-100;
      cursor: pointer;
    }
  }
  @include for-large-screen() {
    width: 80vw;
    margin: 80px auto var(--p-4);
    h3 {
      margin: 0 0 var(--p-6);
    }
    &-layout {
      flex-direction: row;
      column-gap: var(--p-7);
    }
    &-card {
      width: 250px;
    }
  }
}

.user {
  &-account {
    position: relative;
    margin: 60px var(--p-2) 0;
    h3 {
      font-size: var(--fsz-2);
      color: $gray-200;
      text-transform: capitalize;
      margin: var(--p-2) 0 var(--p-4);
    }
    form {
      display: flex;
      flex-direction: column;
      row-gap: var(--p-4);
    }
    .icon-btn-base {
      width: 30vw;
      font-size: 1rem;
    }
  }
  &-info {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    column-gap: var(--p-2);
    .channel-icon {
      height: 80px;
      width: 80px;
      object-fit: cover;
      object-position: top center;
      border-radius: 50%;
    }
    .input-livefarm,
    .input-livefarm-disabled {
      align-self: center;
    }
  }

  @include for-large-screen() {
    &-account {
      width: 80vw;
      margin: 60px auto 0;
      .icon-btn-base {
        width: 10vw;
      }
      .input-livefarm {
        width: 40vw;
      }
    }
    &-info {
      .channel-icon {
        height: 150px;
        width: 150px;
      }
      .input-livefarm,
      .input-livefarm-disabled {
        align-self: flex-start;
        margin: 1rem 0 0;
        width: 28vw;
      }
    }
  }
}
