// This file contains color palette of the components (customize it here)
// hover:dark focus:lights
// 100:light,200:main.300:dark

$colors: (
  primary: (
    100: hsla(195, 54%, 78%, 1),
    200: hsl(212, 84%, 61%),
    300: hsl(205, 98%, 20%),
  ),
  secondary: (
    100: hsl(0, 0%, 100%),
    200: hsl(218, 19%, 38%),
    300: hsl(229, 19%, 22%),
  ),
  success: (
    100: hsl(83, 88%, 52%),
    200: hsl(101, 100%, 35%),
    300: hsl(120, 100%, 20%),
  ),
  danger: (
    100: hsl(357, 71%, 88%),
    200: hsl(359, 72%, 47%),
    300: hsl(359, 72%, 35%),
  ),
);

$icon-colors: (
  yello: (
    "c": hsl(62, 98%, 46%),
    "bgc": hsl(67, 58%, 14%),
  ),
  blue: (
    "c": hsl(173, 86%, 51%),
    "bgc": hsl(175, 53%, 14%),
  ),
  grey: (
    "c": hsl(0, 0%, 15%),
    "bgc": hsl(0, 0%, 20%),
  ),
  purple: (
    "c": #ff00d6,
    "bgc": #32032b,
  ),
);
