// This file contains color palette of the components (customize it here)

$light-blue:hsl(213, 94%, 68%);
$dark-blue:hsl(221, 83%, 53%);
$blue:hsl(217, 91%, 60%);
$light-green:hsl(158, 64%, 52%);
$dark-green:hsl(163, 88%, 20%);
$green:hsl(160, 84%, 39%);
$light-red:hsl(0, 91%, 71%);
$dark-red:hsl(0, 74%, 42%);
$red:hsl(0, 72%, 51%);
$light-yellow:hsl(43, 96%, 56%);
$dark-yellow:hsl(32, 95%, 44%);
$yellow:#F59E0B;
// hover:dark focus:lights