// This file contains mixins used for building this library
@use './functions' as *;

@mixin avatar-sm($c, $bgc, $clsName) {
  .avatar-sm-i-#{$clsName} {
    background-color: $bgc;
    box-sizing: border-box;
    color: $c;
    //  get-p(size) => get-p(2) => 0.25*2 => .5rem
    padding: get-p(2);
    border-radius: 50%;
    i {
      font-size: get-fs("fsz-2");
      vertical-align: middle;
    }
  }
}
@mixin avatar-lg($c, $bgc, $clsName) {
  .avatar-lg-i-#{$clsName} {
    background-color: $bgc;
    color: $c;
    box-sizing: border-box;
    padding: get-p(4);
    border-radius: 50%;
    i {
      font-size: get-fs("fsz-3");
      vertical-align: middle;
    }
  }
}
