// This file contains typography of library
// font sizes
$font-sizes: (
  "fsz-5": 3.052rem,
  "fsz-4": 2.441rem,
  "fsz-3": 1.953rem,
  "fsz-2": 1.563rem,
  "fsz-1": 1.25rem,
);

@each $fs, $val in $font-sizes {
  .#{$fs} {
    font-size: $val;
  }
}
.small,
.text_small {
  font-size: 0.8rem;
}

// font weights
// z-indexes
