// all variables related to the component library
// ini => initial
// initial z index size
$ini-z-index: 10;
// fixed initial value for spacing
$spacer: 0.25rem;
// initial border value
$border-radius-size: 0.25rem;
