// main css file
// import all here
@use './type-scale' as *;
@use './utilities' as *;
@use './components' as *;

/* browser css styling reset */
body{
  font-family: 'Inter',sans-serif;
}
button {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}