@use '../abstracts' as *;
@use '../abstracts/colors' as *;

// media mixin

@mixin avatar-sm($c, $bgc, $clsName) {
  .avatar-sm-i-#{$clsName} {
    position: relative;
    background-color: $bgc;
    box-sizing: border-box;
    color: $c;
    padding: var(--p-2);
    border-radius: 50%;
    i {
      font-size: var(--fsz-2);
      vertical-align: middle;
    }
  }
}
@mixin avatar-lg($c, $bgc, $clsName) {
  .avatar-lg-i-#{$clsName} {
    position: relative;
    background-color: $bgc;
    color: $c;
    box-sizing: border-box;
    padding: var(--p-4);
    border-radius: 50%;
    i {
      font-size: var(--fsz-3);
      vertical-align: middle;
    }
  }
}

@include avatar-sm(#fff, var(--icon-base-200), "basic");
@include avatar-sm(var(--icon-primary-100), var(--icon-primary-200), "primary");
@include avatar-sm(
  var(--icon-secondary-100),
  var(--icon-secondary-200),
  "secondary"
);

/* large icon avatar */

@include avatar-lg(#fff, var(--icon-base-200), "basic");
@include avatar-lg(var(--icon-primary-100), var(--icon-primary-200), "primary");
@include avatar-lg(
  var(--icon-secondary-100),
  var(--icon-secondary-200),
  "secondary"
);

/* small avatar image */
.avatar-sm {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-position: top center;
    object-fit: cover;
  }
}
/* large avatar image */

.avatar-lg {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-position: top center;
    object-fit: cover;
  }
}

// - Alert

@mixin alert($c) {
  .alert-#{$c} {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: var(--p-4) var(--p-2);
    border-radius: var(--br-1);
    max-width: 70vw;
    color: var(--c-#{$c}-300);
    background-color: var(--c-#{$c}-100);
    & > .alert-content {
      margin: 0 var(--p-2);
    }
    i {
      font-size: var(--fsz-2);
    }
  }
}

@include alert("primary");
@include alert("success");
@include alert("danger");
@include alert("base");

.alert-secondary {
  display: flex;
  align-items: flex-start;
  padding: var(--p-4) var(--p-2);
  border-radius: var(--br-1);
  max-width: 70vw;
  color: #a47e1b;
  background-color: #fae588;
  & > .alert-content {
    margin: var(--p-1);
  }
  i {
    font-size: var(--fsz-2);
  }
}

// - Badge
@mixin badge($c) {
  .badge-#{$c} {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: var(--c-#{$c}-200);
    z-index: var(--z-1);
  }
  .badge-rect-#{$c} {
    background-color: var(--c-#{$c}-200);
    color: #fff;
    font-size: 0.8rem;
    padding: 0.25rem;
    font-weight: 600;
    border-radius: 0.25rem;
  }
}
@include badge("primary");
@include badge("success");
@include badge("danger");
@include badge("secondary");

// Button
.btn-disabled {
  cursor: not-allowed;
  border: 1px solid var(--c-base-300);
  font-weight: 600;
  box-sizing: border-box;
  background-color: #ccc;
  color: var(--c-base-300);
  border-radius: var(--br-1);
  padding: var(--p-3) var(--p-4);
}
/* buttons without borders */
@each $color-type, $shades in $colors {
  .outline-#{$color-type} {
    border: 2px solid var(--c-#{$color-type}-300);
  }
}
@each $color-type, $shades in $colors {
  .btn-c-#{$color-type} {
    border: 0;
    background-color: transparent;
    font-weight: 600;
    box-sizing: border-box;
    color: var(--c-#{$color-type}-300);
    border-radius: var(--br-1);
    padding: var(--p-3) var(--p-4);
    &:hover,
    &:focus {
      background-color: var(--c-#{$color-type}-100);
    }
    // creating same class with active state
    &-active {
      @extend .btn-c-#{$color-type};
      background-color: var(--c-#{$color-type}-100);
    }
  }
}
/* main buttons */
@each $color-type, $shades in $colors {
  .btn-#{$color-type} {
    border: 0;
    font-weight: 500;
    color: var(--c-base-100);
    background-color: var(--c-#{$color-type}-200);
    border-radius: var(--br-1);
    padding: var(--p-3) var(--p-4);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    &:hover,
    &:focus {
      background-color: var(--c-#{$color-type}-300);
    }
    &:focus {
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26);
    }
    &-active {
      @extend .btn-#{$color-type};
      background-color: var(--c-#{$color-type}-300);
    }
  }
}
/* outline buttons */
@each $color-type, $shades in $colors {
  .btn-outline-#{$color-type} {
    border: 1px solid var(--c-#{$color-type}-200);
    font-weight: 500;
    color: var(--c-#{$color-type}-200);
    background-color: transparent;
    border-radius: var(--br-1);
    padding: var(--p-5);
    line-height: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    &:hover,
    &:focus {
      color: var(--c-base-300);
      background-color: var(--c-#{$color-type}-100);
    }
    &-active {
      @extend .btn-outline-#{$color-type};
      color: var(--c-base-300);
      background-color: var(--c-#{$color-type}-100);
    }
  }
}
/* icon buttons */
@each $icon-color, $shades in $icon-colors {
  .icon-btn-#{$icon-color} {
    border: 0;
    font-weight: 500;
    color: var(--icon-#{$icon-color}-100);
    background-color: var(--icon-#{$icon-color}-200);
    border-radius: var(--br-1);
    padding: var(--p-2);
    font-size: var(--fsz-2);
    line-height: 0;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.26);
    &:hover,
    &:focus {
      background-color: var(--icon-#{$icon-color}-300);
    }
  }
}

.btn-addon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p-2);
  & i {
    font-size: var(--fsz-2);
    line-height: 1;
    margin: 0 var(--p-1) 0 0;
  }
}

.btn-secondary {
  color: var(--c-base-300);
}
.btn-c-secondary {
  &:hover {
    color: var(--c-base-300);
  }
}

/* dialog box */
.dialog {
  border: 1px solid var(--c-base-200);
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  border-radius: var(--br-2);
  color: var(--c-black);
  display: flex;
  flex-direction: column;
  padding: var(--p-4);
  max-width: 90vw;
  @include for-large-screen {
    max-width: 40vw;
  }
  & > &-heading {
    font-size: var(--fsz-2);
    font-weight: 500;
  }
  & > &-details {
    margin: var(--p-3) 0 0;
  }
  & > &-btns {
    display: flex;
    & button {
      margin: var(--p-5) var(--p-2) 0;
    }
  }
}

/* snackbar */
.snackbar {
  transition: all 0.5s ease;
  background-color: #323232;
  color: var(--c-base-100);
  width: 90vw;
  padding: var(--p-4);
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  @include for-large-screen {
    max-width: 50vw;
    padding: var(--p-5) var(--p-7);
  }
  .cta {
    border: 0;
    background-color: transparent;
    color: var(--c-secondary-200);
    i {
      font-size: var(--fsz-1);
    }
  }
}
/* grocery card */

.grocery-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0.25rem 0.25rem 0;
  max-width: 170px;
  border-radius: var(--br-2);
  overflow: hidden;
  border: 1px solid lightgrey;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  @include for-large-screen {
    margin: 1rem;
    max-width: 200px;
  }

  &:hover {
    .card-thumbnail img {
      transition: all 0.3s ease-in-out;
      transform: scale(1.2);
    }
  }
  .badge-rect-danger {
    position: absolute;
    top: 40%;
    right: 0%;
  }
  .icon {
    cursor: pointer;
    right: 2%;
    top: 2%;
    position: absolute;
    background-color: var(--c-base-100);
    box-sizing: border-box;
    padding: 0.25rem;
    border-radius: var(--br-1);
    color: var(--c-success-200);
    font-size: var(--fsz-2);
    line-height: 1;
    i {
      color: var(--c-success-200);
      font-size: var(--fsz-2);
      line-height: 1;
    }
    &:hover,
    &:focus {
      background-color: var(--c-success-300);
      color: #fff;
      i {
        color: #fff;
      }
    }
    &-active {
      @extend .icon;
      background-color: var(--c-success-300);
      color: #fff;
      i {
        color: #fff;
      }
    }
  }
}
.card {
  &-thumbnail {
    height: 150px;
    width: 100%;
    overflow: hidden;
    img {
      object-fit: cover;
    }
    @include for-large-screen {
      height: 200px;
    }
  }
  &-details {
    padding: 0.25rem;
  }
  &-header {
    margin: 0.25rem 0 0.5rem;
    display: flex;
  }
  &-price {
    font-weight: 600;
    margin: 0.25rem 0;
  }
  &-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0 0 0.25rem;
    @include for-large-screen {
      -webkit-line-clamp: 2;
    }
  }
  &-cta {
    margin: 0.5rem 0 0;
    width: 100%;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    color: var(--c-base-100);
    background-color: var(--c-success-200);
    &:hover,
    &:focus {
      background-color: var(--c-success-300);
    }
    &-active {
      @extend .card-cta;
      background-color: var(--c-success-300);
    }
  }
}
/* icons */

.menu-icon {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: flex;
  width: 35px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  input[type="checkbox"] {
    height: 100%;
    cursor: pointer;
    position: absolute;
    width: 100%;
    opacity: 0;
  }
  label {
    display: flex;
    flex-direction: column;
    span {
      &:before,
      &:after,
      & {
        display: block;
        height: 2px;
        width: 35px;
        background-color: #000;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
      }
      &:before {
        margin-top: -10px;
        transition: margin, transform 0.2s;
        transition-delay: 0.2s, 0;
      }
      &:after {
        margin-top: 10px;
        transition: margin, transform 0.2s;
        transition-delay: 0, 0.2s;
      }
    }
  }
  .menu-check-box:checked ~ label span {
    background-color: rgba(0, 0, 0, 0);
  }
  .menu-check-box:checked ~ label span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0, 0.2s;
  }
  .menu-check-box:checked ~ label span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0.2s, 0;
  }
}
/* cart component */
.cart-layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @include for-large-screen() {
    flex-direction: row;
  }
}
.cart {
  display: flex;
  flex-direction: column;
  background-color: var(--c-base-100);
  border-radius: var(--br-3);
  width: 95vw;
  margin: 0 auto;
  @include for-large-screen() {
    width: 60vw;
    margin: 0 1rem;
  }
  &-heading {
    background-color: var(--c-base-200);
    color: #fff;
    border-radius: var(--br-3) var(--br-3) 0 0;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: capitalize;
    h3:nth-child(2) {
      margin: 0 0 0 auto;
      justify-self: center;
    }
    h3:nth-child(3) {
      justify-self: center;
      display: none;
    }
    @include for-large-screen() {
      padding: 0.75rem;
      grid-template-columns: 2fr 1fr 1fr;
      h3:nth-child(2) {
        margin: 0 1rem;
      }
      h3:nth-child(3) {
        display: block;
      }
    }
  }
  .product {
    &-card {
      display: grid;
      grid-template-columns: 2fr 0.5fr;
      justify-items: center;
      padding: 0.5rem;
      border-bottom: 1px solid var(--c-grey);
      @include for-large-screen() {
        grid-template-columns: 2fr 1fr 1fr;
      }
    }
    &-img {
      height: 100px;
      border-radius: var(--br-2);
      @include for-large-screen {
        height: 130px;
      }
    }
    &-details {
      display: flex;
      align-items: center;
      justify-self: start;
      margin: 0 0 0 0;
      .wrapper {
        padding: var(--p-2);
      }
      @include for-large-screen() {
        .wrapper {
          padding: var(--p-2) var(--p-4) var(--p-2);
        }
      }
    }
    &-title {
      font-size: var(--fsz-1);
      margin: 0 0 0.25rem;
      span {
        font-weight: 400;
      }
    }
    &-description {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      margin: 0.5rem 0;
      @include for-large-screen {
        display: -webkit-box;
      }
    }
    &-price {
      font-size: var(--fsz-1);
      font-weight: 600;
      margin: 0 0 0.25rem;
      span {
        font-weight: 400;
      }
    }
    &-discount {
      font-weight: 500;
    }
  }
  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    @include for-large-screen() {
      justify-content: start;
      flex-direction: row;
    }
    button {
      padding: 0.5rem 0.5rem 0.75rem;
      display: inline-block;
      margin: 0.5rem;
      font-weight: 600;
      transition: 0s;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      &:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
      }
      &:active {
        box-shadow: none;
      }
    }
    span {
      color: #fff;
      font-weight: 700;
      padding: 0.25rem 0.5rem;
      border-radius: 50%;
      background-color: var(--c-primary-200);
    }
  }
  .final-price {
    margin: auto 0;
    display: none;
    @include for-large-screen() {
      display: block;
    }
  }
}
.checkout {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 95vw;
  margin: 1rem auto;
  padding: 1rem 0 0 0;
  text-align: center;
  border-radius: var(--br-2);
  text-transform: capitalize;
  @include for-large-screen() {
    width: 30vw;
    margin: 0 1rem;
  }
  .coupen {
    border: 0;
    text-transform: capitalize;
    padding: var(--p-2);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(to right, #38ef7d, #11998e);
    margin: 0.5rem 0;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem 0.5rem;
    @include for-large-screen() {
      margin: 0.5rem;
    }
  }
  .muted {
    color: var(--c-black);
    font-weight: 600;
  }
  .btn-success {
    font-weight: 600;
    font-size: var(--fsz-1);
    border-radius: 0 0 var(--br-2) var(--br-2);
  }
}
.wishlist-card {
  border: 1px solid lightgrey;
  background-color: #fff;
  max-width: 230px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: var(--br-2);
  // @include for-large-screen() {
  //   max-width: 230px;
  // }
  img {
    height: 200px;
    width: 100%;
    border-radius: var(--br-2) var(--br-2) 0 0;
  }
  &-header {
    font-size: var(--fsz-1);
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3,
    p {
      padding: var(--p-1);
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      button {
        margin: 0 var(--p-1) var(--p-1);
      }
      button:nth-child(2) {
        width: 100%;
        margin: 0 var(--p-1)  var(--p-1) 0;
      }
    }
  }
}
