@use '../abstracts' as *;

.d-flex {
  display: flex;
}

.d-block{
  display: block;
}

.logo {
  height: 80px;
}
.close{
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: 2%;
}
@for $i from 1 to 10 {
  .h-#{$i}0{
    height: #{$i}0vh;
  }
}
@for $i from 1 to 10 {
  .w-#{$i}0{
    width: #{$i}0vw;
  }
}
.jc-center{
  justify-content: center;
}
.jc-end{
  justify-content: end;
}
.jc-space-between{
  justify-content: space-between;
}
.jc-space-around{
  justify-content: space-around;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}